IaC_Modules/.terraform/providers/registry.terraform.io/hashicorp/aws/3.75.2/windows_386/terraform-provider-aws_v3.75.2_x5.exe
IaC_Modules/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/windows_386/terraform-provider-template_v2.2.0_x4.exe
Ckc03/.aws/credentials
.gitignore

Ckc03/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/windows_386/terraform-provider-template_v2.2.0_x4.exe
Ckc03/.terraform/providers/registry.terraform.io/hashicorp/aws/3.75.2/windows_386/terraform-provider-aws_v3.75.2_x5.exe
